/* Estilos Globais */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
	color: #333;
}

header {
	background-color: #333;
	padding: 10px 0;
}

header nav ul {
	list-style: none;
	padding: 0;
	tect-align: center;
}

header nav ul li {
	display: inline;
	margin-right: 15px;
}

header nav ul li a {
	color: white;
	text-decoration: none;
}

heade nav ul li a:hover {
	text-decoration: underline;
}

main {
	padding: 20px;
	text-align: center;
}

footer {
	background-color: #333
	color: white;
	text-align: center;
	padding: 10px 0;
	position: fixed;
	width: 100%;
	bottom: 0;
}
